body {
    font-family: 'Varela Round', sans-serif;
}

.round--edge {
    border-radius: 20px;
}
.round--edge-extra {
    border-radius: 100px;
}

.orange--button {
    background: $mainOrange;
    padding: 10px 25px;
    cursor: pointer;
}

.light--blue {
    color: $lightBlue;
}
/* 
body {
    background-color: green;
} */