@define-mixin inputBox $sectionType {
    $(sectionType)__input {
        width: 35.0625rem;
        border-radius: 100px;
        border: solid 1px $mainWhite;
        height: 3.125rem;
        padding-left: 10px;
        @mixin-content;

        &:focus {
            outline: none;
        }

        &::placeholder {
            font-size: 1.125rem;
            padding-left: 1.25rem;
            opacity: 0.5;
        }
    }
}