.site-nav {
    display: flex;
    justify-content: space-between;
    color: $mainWhite;
    height: fit-content;
    transition:background-color,margin .3s linear,opacity 0.3s linear;

    @media (--phone) {
        flex-direction: column;
        margin-bottom: -200px;
    }

    &-visible {
        margin-bottom: -130px;
        background-color: rgba(49, 49, 56, 0.7);
    }

    &-item {
        display: flex;
        max-width: 50vw;
        width: 100%;
        align-items: center;
        cursor: pointer;


        @media (--phone) {
            flex-direction: column;
            align-items: start;
        }

        &-left {

            &::before, &::after {
                content: "";
            }

            &__logo {
                margin-right: 50px;
                margin-left: 25px;

                @media (--phone) {
                    margin: 20px;
                }
            }

            &__cat {
                display: flex;
                align-items: center;
                transition:visibility 0.25s linear,opacity 0.25s linear;

                @media (--phone) {
                    visibility: hidden;
                    opacity: 0;
                    margin: 0 20px;

                    &-visible {
                        visibility: visible;
                        opacity: 1;
                    }
                }

                &__caret {
                    cursor: pointer;
                    width: 10px;
                    height: 10px;
                    border-width:2px;
                    border-style:solid;
                    border-color:transparent $mainWhite $mainWhite transparent;
                    border-radius: 20%;
                    transform:rotate(45deg);
                    margin: -2px 0 5px 10px;
    
                    &:hover {
                        border-width: 3px;
                        transition: border-width .2s ease;
                    }
                }
            }          
        }

        &-right {
            max-width: 30vw;
            justify-content: space-between;
            transition:visibility 0.25s linear,opacity 0.25s linear;
            
            @media (--phone) {
                visibility: hidden;
                opacity: 0;

                &__teach, &__login {
                    margin: 10px 20px;
                }

                &-visible {
                    visibility: visible;
                    opacity: 1;
                }
            }

            &::before, &::after {
                content: "";
            }

            &__login {
                padding: 10px 25px;
            }
        }
    }

    &__menu-icon {
        width: 20px;
        height: 19px;
        position: absolute;
        z-index: 3;
        top: 22px;
        right: 10px;
        cursor: pointer;

        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 20px;
            height: 3px;
            background-color: $mainWhite;
            transform-origin: 0 0;
            transition: transform .3s ease-out;
        }

        &__middle {
            position: absolute;
            top: 8px;
            left: 0;
            width: 20px;
            height: 3px;
            background-color: $mainWhite;
            transition: all .3s ease-out;
            transform-origin: 0 50%;
        }

        &::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 20px;
            height: 3px;
            background-color: $mainWhite;
            transform-origin: 0 100%;
            transition: transform .3s ease-out;
        }

        @media (--tablet),(--desktop),(--large-desktop) {
            display: none;
        }
    }

    &__menu-icon--close-x {
        &::before {
            transform: rotate(45deg) scaleX(1.25);
        }
        
        .site-nav__menu-icon__middle {
            opacity: 0;
            transform: scaleX(0);
        }
        
        &::after {
            transform: rotate(-45deg) scaleX(1.25) translateY(1px);
        }
    } 
}