.subscribe {
    text-align: center;
    background: linear-gradient(to right, rgba(196, 139, 64, 0.8), rgba(83, 83, 90, 0.9)), 
                url('../../assets/images/subscribe.jpg');
    background-size: cover;
    color: $mainWhite;
    height: 40vh;
    display: flex;
    flex-direction: column;
    margin-top: 50px;

    &__title {
        @media (--phone) {
            font-size: 1.1rem;
        }
    }

    &__sub-heading {
        max-width: 80%;
        margin: 0 auto -70px;

        @media (--phone) {
            max-width: 60%;
            font-size: 1rem;
            margin-bottom: -55px;
        }
    }
    

    &-content {
        height: 100%;
        @mixin inputBox & {}

        display: flex;
        justify-content: center;
        align-items: center;

        &__button {
            height: fit-content;
            margin-left: -130px;
            color: $mainWhite;
            padding: 12px 25px;

            @media (--phone) {
                padding: 10px 15px;
                margin-left: -110px;
            }
        }
    }
}